@import "primeicons/primeicons.css";

.loginIcon {
font-size: 2.5rem;
color: grey;
}
.icon-container{
    float: right;
}

.loginMenu {
        background-color: green;
}
.loginMenu ul li:hover{
    font-weight: bold;
    cursor: pointer;
}
