<span class="modal-overlay">
    <div class="modal-card">
        <div class="modal-inputs">
            <input type="text" placeholder="Username" id="userName"/>
            <input type="text" placeholder="Password" id="passWord"/>
        </div>
        <div class="modal-buttons-container">
            <button class="modal-login-button modal-buttons-style">Login</button>
            <button class="modal-close-button modal-buttons-style" (click)="closeModal()">Close</button>
        </div>        
    </div>
</span>
